.idea
.vscode
*.code-workspace

tmp
checkpoints
weights
work_dirs
datasets
projects
*.csv
*.zip
*.pyc
.DS_Store
.history
.dist_test

#nms
dist/
build/
__pycache__/
*.egg-info/
*.egg
*.eggs

# tmp remove docker files
docker-compose.yml
docker/

# visualization files
show/

